<!DOCTYPE html>
<html lang="en">

<head>

<%- include('Head.ejs') -%>

</head>

<header>

  <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <div class="container">
    <a class="navbar-brand" href="/"><strong>TDP</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
      <ul class="navbar-nav mr-auto">
      <li class="nav-item">
      <a class="nav-link" href="/">Beranda</a>
      </li>
      <li class="nav-item active">
      <a class="nav-link" href="/about">Tentang<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/contact">Hubungi</a>
      </li>
      </ul>
    </div>
    </div>
  </nav>

</header>

<main>

  <body class="view" style="background-image: url('images/icon.gif'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
  <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
    <div class="container">
    <div class="row mt-5">
    <div class="col-md-50 mb-50 mt-md-0 mt-5 white-text text-center text-md-center">
    <h1 class="h1-responsive font-weight-bold wow fadeInCenter" data-wow-delay="0.3s">About  ! </h1>
    <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
    <h6 class="mb-3 wow fadeInLeft" data-wow-delay="0.3s"><b>Halaman About</b> ini di baut sedemikian rupa hingga hasilnya ya ini guys. Mohon koreksi atau kritik dan sarannya dari kalian ya :D | <i>Halaman ini full dari Framework</i> <br />| <a href="https://mdbootstrap.com/" target="_blank"><b>Klik disini.</b></a> | </h6>
    </div>
    </div>
    </div>
  </div>
  </div>
</body>

</main>

<%- include('Footer.ejs') -%>

</body>

</html>
