<footer class="page-footer font-small blue pt-0 mt-0">
  <div class="container-fluid text-center text-md-left">
  </div>
  <div class="footer-copyright text-center py-3">© 2019 Copyright
    <a href="/"> TERMUX DISCUSS PARTY</a>
  </div>
</footer>

  <script src="http://code.jquery.com/jquery-2.2.1.min.js"></script>
  <script type="text/javascript" src="javascripts/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="javascripts/popper.min.js"></script>
  <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
  <script type="text/javascript" src="javascripts/mdb.min.js"></script>
  <script>
  $(document).ready(function(){
  $(".preloader").fadeOut();
  }); new WOW().init();
  </script>
