<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title><%= title %></title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="stylesheets/bootstrap.min.css" rel="stylesheet">
<link href="stylesheets/style.css" rel="stylesheet">
<link href="stylesheets/style.min.css" rel="stylesheet">
<link href="stylesheets/mdb.min.css" rel="stylesheet">
<link href="stylesheets/loading.css" rel="stylesheet">

<div class="preloader">
<div class="loading"><img src="images/poi.gif" width="100">
    <p>Harap Tunggu</p>
</div>
</div>
